.form{
  color: #E5707E;
  font-size: 14px;
  font-family: Monserrat;
  text-decoration: none;
  text-align: rigth;
  padding-bottom: 2em;
}

.form h6{
  font-size: 14px;
}

.botones{
  background-color: #E5707E;
  color: white;
  border:none;
  border-radius: 5px;
  width: auto;
  height: 40px;
}

.botones_link{
  background-color: #E5707E;
  color: white;
  border:none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
}