<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 text-center">
    <br>
      <h3 class="pb-4"><strong>Formulario de Ingreso</strong></h3>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <%= render "form" %>
    </div>
    <div class = "col-12 col-md-6 col-lg-6">

    </div>
  </div >
</div>
