<<<<<<< HEAD
<div class="container">
  <%= render "form" %>
</div>
||||||| e076ca0
<%= render "form" %>
=======
<div class ="container">
  <div class= "row">
  <h1> Formulario de Ingreso </h1>
    <div class = "col-12 col-md-6 col-lg-6">
      <%= render "form" %>
    </div>
    <div class = "col-12 col-md-6 col-lg-6">
      
    </div>
  </div >
</div>
>>>>>>> 96292fe9d9c06101bfaf058073ba5d66358a383b
