<h1>Categorias</h1>
  
  <div Class="container">
    </div>
      <h1>Lo último</h1>
          <div class="container">
              <div class="card-trip" style="background-image: linear-gradient(white), rgba(255, 255, 255, 0.3)), url(images/background.png)">
                <img src="#" alt="Chaqueta">
              <a href="">Nombre Producto</a>
              <p>alguna descripción</p>
              <p>Precio</p>
              </div>
            </div>

            <div class="container">
              <div class="card-trip" style="background-image: linear-gradient(white), rgba(0,0,0,0.3)), url(images/background.png)">
                <img src="#" alt="Falda">
                <a href="">Nombre Producto</a>
                <p>alguna descripción</p>
                <p>Precio</p>
              </div>
            </div>
      
            <div class="container">
              <div class="card-trip" style="background-image: linear-gradient(white), rgba(0,0,0,0.3)), url(images/background.png)">
                <img src="images/azulejo montaje1.jpg" alt="pantalón">
                <a href="">Nombre Producto</a>
                <p>alguna descripción</p>
                <p>Precio</p>
              </div>
            </div>
          </div>
    </div>
