<div class= "banner ">
    <div class= "row col-12 col-lg-4 col-md-4 col-xs-4">
        <h1><strong>Compra las mejores marcas, con hasta</strong></h1>
        <h2><strong>70% descuento</strong></h2>
        <p> Más de 1 millón de personas venden su ropa para ti!</p>
    </div>  
        </div class= "image-responsive">
        
        </div>
</div>
