<div class="container">
  <h3>Categorias</h3>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col-12 col-md-12">
              hola2  
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md6">
        como estas 
        </div>
        <div class="col-6 col-md6">
        bien y tu
        </div>
      </div>      
    </div>
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col-12 col-md-12">
              hola 1   
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md6">
        como 
        </div>
        <div class="col-6 col-md6">
        estas
        </div>
      </div>      
    </div>

  </div>
</div>
