   <div class="container-fluid p-0">
   <div class="footer">
        <div class="row col-lg-6 col-md-6 col-sm-12">
          <ul class="d-flex p-0">
          <a href="#">
            <i class="fab fa-facebook-square"></i></a>
          <a href="#">
            <i class="fab fa-fw fa-twitter"></i></a>
          <a href="#">
            <i class="fab fa-fw fa-instagram"></i></a>
          <a href="#">
            <i class="fab fa-fw fa-github"></i></a>
          </ul>
        </div>
        <div class="row d-flex justify-content-around">
            <div class ="col-lg-6 col-sm-12">
                <nav class=" nav d-flex nav-links col-12 col-md-12 col-xs-1">
                    <a class="nav-link" href="#">Quienes Somos</a>
                    <a class="nav-link" href="#">Ayuda</a>
                    <a class="nav-link" href="#">Contáctenos</a>
                    <a class="nav-link" href="#">Dona</a>
                </nav>
            </div>
            <div class="col-lg-6 col-sm-12 text-right">
                <%= link_to image_tag("PNG.png"), root_path, class:"img_logo"%>
            </div>
        </div>
    </div>
</div>
    <!--Footer falta que logo esté al lado derecho-->
    
        
        
