    <!--Footer falta que logo esté al lado derecho-->
    
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="d-flex flex-aling-items-center col-12 col-md-6 col-lg-12">
                        <a href="#">
                            <i class="fab fa-facebook-square"></i></a>
                        <a href="#">
                            <i class="fab fa-fw fa-twitter"></i></a>
                        <a href="#">
                            <i class="fab fa-fw fa-instagram"></i></a>
                        <a href="#">
                            <i class="fab fa-fw fa-github"></i></a>
                    </div>
                        <ul class="d-flex flex-aling col-6 col-md-12 col-sm-12 col-lg-6">
                            <li class= "d-flex"><a href="#">Quienes Somos</a></li>
                            <li class= "d-flex"><a href="#">Ayuda</a></li>
                            <li class= "d-flex"><a href="#">Contáctenos</a></li>
                            <li class= "d-flex"><a href="#">Dona</a></li>
                        </ul>
                    <div class = "d-flex col-12 col-md-3 flex-aling-center">
                        <div>
                            <%= link_to image_tag("PNG.png"), root_path, class:"img_logo"%>
                    </div>
                </div>
            </div>
        </footer>
        