<div class="container col-12 col-md-12 col-xl-12 col-sm-12">
<br>
  <h3 class="pb-4"><strong>¿Como podemos ayudarte?</strong></h3>
</div>
<div class="container">
    <div class="row">
      <div class="col-12 ">
        <div class="card-product">
          <%= image_tag("bolsa.png", width: 500, hiegth: 700, class:"ayuda-img") %> 
          <div class="card-product-infos">
            <h2 class="pl-3">Administrar y cancelar compras</h2>
            <p class="pl-3">Pagar, seguir envíos, modificar, reclamar. <strong>cancelar compra</strong> only.</p>
          </div>
        </div>  
      </div>
    </div>
    <div class="row">
      <div class="col-12 pt-2">
        <div class="card-product">
          <%= image_tag("interrogacion.png", width: 500, hiegth: 700, class:"ayuda-img") %> 
          <div class="card-product-infos">
            <h2 class="pl-3">Preguntas frecuentes sobre compras</h2>
            <p class="pl-3">Pagar, seguir envíos, modificar, reclamar.<strong>cancelar compra</strong> only.</p>
          </div>
        </div>  
      </div>
    </div>
    <div class="row">
      <div class="col-12 pt-2">
        <div class="card-product">
          <%= image_tag("devolucion.png", width: 500, hiegth: 700, class:"ayuda-img") %> 
          <div class="card-product-infos">
            <h2 class="pl-3">Devoluciones y reembolsos</h2>
            <p class="pl-3">Devolver un producto o consultar por reintegros de dinero de una compra.<strong>cancelar compra</strong> only.</p>
          </div>
        </div>  
      </div>
    </div>
</div>