<div class="container">
  <br>
  <h1>Quienes Somos</h1>
  <br>
  <p class="text-justify" style="max-width:600px;">Lorem ipsum dolor sit amet consectetur adipiscing elit nascetur, cras eu per bibendum ornare venenatis sodales donec consequat, condimentum neque curabitur odio etiam sagittis egestas. Cursus et cras sapien ligula cubilia eleifend ut vulputate, laoreet praesent hendrerit fusce morbi velit aptent viverra tellus, blandit duis scelerisque interdum curae class nunc. Donec porta metus morbi sodales lectus odio fermentum netus aenean, praesent facilisis torquent luctus placerat potenti tellus habitant leo, libero nunc rhoncus magnis feugiat auctor habitasse inceptos.</p>
  <p class="text-justify" style="max-width:600px;">Est imperdiet et natoque interdum pretium praesent rhoncus habitasse integer quis mi ad magnis justo ligula, sem eget vivamus urna nec cursus potenti velit egestas sollicitudin vestibulum arcu laoreet. Curabitur mi lectus justo orci sed fusce parturient pellentesque eget, suscipit aptent iaculis nisi turpis facilisis dignissim bibendum enim, aenean lacus sodales potenti suspendisse ligula fermentum felis. Dapibus lacus eleifend malesuada nascetur egestas interdum commodo pharetra eu, praesent lectus nulla turpis proin ante vehicula faucibus, placerat torquent suspendisse porta morbi scelerisque sapien etiam.</p>
</div>
<div class="container">
  <%= link_to cl_image_tag("equipo-de-trabajo.png"), width:200, height:100 %>
</div>
