.banner {
    background-image: url(asset-path('banner.png'));
    width: 100%;
    background-size: 100%;
    height: 100%;
    text-align: left;
    line-height: 5px;
    object-fit: cover;
    background-repeat: no-repeat;
    display:block;
    padding-left: 85px;
    padding-bottom: 120px;
}

.banner h1 {
    width: 700px;
    padding-left: 19px;
    padding-top: 180px;
    width: 450px;
    margin:0px;
    color: #000000;
    font-size: 44px;
}

.banner h2 {
    margin: 20px;
    color: #E5707E;
    font-size: 44px;
}

.banner p {
    margin: 20px;
    width: 590px;
    height: 65px;
    color: grey;
    font-size: 26px;
    padding-right: 0px;
    line-height:31.69px;
    
}

@media(max-width: 991px){
    .banner{
        width: 100%;
        padding-top: 80px;
        h1{
            padding-top: 30px;
            padding-left: 50px;
            width: 120%;
            font-size: 22px;
        }
        h2{
            font-size: 18px;
            width: 150%;
            margin: 0px;
            padding-top: 10px;
            padding-left: 50px;
        }
        p{
            width: 320px;
            font-size: 10px;
            margin: 0px;
            padding-top: 10px;
            padding-left: 50px;
        }
        img{
            max-height: 250px;
        }
    }
};

@media(max-width: 960px){
    .banner{
        width: 100%;
        padding-top: 80px;
        h1{
            padding-top: 30px;
            padding-left: 50px;
            width: 130%;
            font-size: 21px;
        }
        h2{
            font-size: 21px;
            width: 150%;
            margin: 0px;
            padding-top: 10px;
        }
        p{
            width: 350px;
            font-size: 10px;
            margin: 0px;
            padding-top: 10px;
            padding-bottom: 60px;
        }
    }
};

@media(max-width: 720px){
    .banner{
        width: 100%;
        padding-top: 55px;
        padding-left:0px;
        h1{
            width:46%;
            font-size: 18px;
            margin: 0px;
            padding-left: 20px;
        }
        h2{
            font-size: 18px;
            width: 150%;
            padding-top: 5px;
            padding-left: 20px;
        }
        p{
            width: 300px;
            font-size: 10px;
            padding-bottom: 40px;
            padding-left: 20px;
            padding-top: 5px;
        }
    }
};

@media(max-width: 560px){
    .banner{
        width: 100%;
        padding-top: 30px;
        padding-left:0px;
        h1{
            width:40%;
            font-size: 15px;
            padding-left:10px;
        }
        h2{
            font-size: 13px;
            width: 150%;
            padding-top: 5px;
            padding-left:10px;
        }
        p{
            width: 300px;
            font-size: 8px;
            padding-bottom: 40px;
            padding-top:1px;
            padding-left: 10px;
        }
    }
};

@media(max-width: 375px){
    .banner{
        width: 100%;
        padding-top: 18px;
        padding-left:0px;
        h1{
            width:44%;
            font-size: 10px;
        }
        h2{
            font-size: 8px;
            width: 150%;
            padding-top: 5px;
        }
        p{
            width: 250px;
            font-size: 7px;
            padding-bottom: 20px;
            padding-top:1px;
        }
    }
};