.banner {
    background-image: url(asset-path('banner.png'));
    width: 100%;
    background-size: 100%;
    height: auto;
    text-align: left;
    text-indent: 5px;
    line-height: 5px;
    object-fit: cover;
    background-repeat: no-repeat;
    display:block;
    padding-left: 20px;
    margin-bottom: 60px;
}

.banner h1 {
    padding-left: 20px;
    padding-top: 200px;
    padding-right: 0px;
    width: 600px;
    margin:0px;
    color: #000000;
    font-size: 29px;
   
}

.banner h2 {
    margin: 20px;
    color: #E5707E;
    font-size: 27px;
}

.banner p {
    margin: 20px;
    color: grey;
    font-size: 14px;
    padding-right: 0px;
    line-height:20px;
}

@media(max-width: 991px){
    .banner{
        width: 100%;
    }
    h1{
        padding-top: 20px;
    }
    p{
        width: 300px;
        font-size: 10px; 
    }
};
