.botones{
  background-color: #E5707E;
  color: white;
  border:none;
  border-radius: 5px;
  width: auto;
  height: 40px;
}

.botones :hover{
  color: white;
}

.botones_link{
  background-color: #E5707E;
  color: white;
  border:none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
}

.botonesprice{
  background-color: #E5707E;
  color: white;
  border:none;
  border-radius: 5px;
  width: 80px;
  height: 25px;
}

