.botones {
  background-color: #E5707E;
  color: white;
  border:none;
  border-radius: 5px;
  width: auto;
  height: 40px;
}

.botones :hover {
  color: white;
}

.botones_link {
  background-color: #E5707E;
  color: white;
  border:none;
  border-radius: 5px;
  width: 150px;
  height: 40px;
}

.botones_price {
  background-color: #E5707E;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: white;
  border:none;
  border-radius: 5px;
  width: 110px;
  height: 30px;
}
