.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;  
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 180px;
  height: 320px;
  border: 2px solid #A3DDCB;
  border-radius: 25px;
}

.img_cont{
  height:229px;
  width: 230px;
}

.img_card {
  height: 230px;
  width: 180px;
  object-fit: cover;
  object-position: center center;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-productshowwear {
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  height: auto;
  width: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 2px solid #A3DDCB;
}