.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.10);
  width: 180px;
  height: 300px;
  border-radius: 20px;
  margin-left: 0px;
  margin-right: 10px;
}

.card-trip img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-left: 10px;
}

.card-trip p {
  width: 210px;
  max-width: 180px;
  height: 60px;
  font-size: 12px;
  opacity: .7;
  margin: 0;
  padding-left: 10px;
  overflow: hidden;
}

.card-trip-infos {
  width: 110px;
  height: 30px;
  margin: auto;
}

.card-trip .card-trip-infos {
  padding: 0px 10px 16px 10px;
  display: flex;
  justify-content:inherit;
  align-items: flex-end;
  position: relative;
}

.card-productshowwear {
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  height: auto;
  width: auto;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 15px;
  border: 2px solid #A3DDCB;
}

.card-body {
  overflow: hidden;
  background: white;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.10);
  width: 172px;
  height: 100%;
  border-radius: 20px;
  margin-left: 0px;
  margin-right: 10px;
  padding: 10px;
  margin-top: 10px;
}

.card-body img {
  height: 160px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;  
}

.card-body h5 {
  padding-top: 5px;
  font-weight: bold;
  max-width: 180px;
  max-height: 40px;
  overflow: hidden;
}

.card-body p {
  max-width: 180px;
  max-height: 20px;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
}

.card-body-infos {
  width: 180px;
  padding: 0px;
}

.card-product-carrito {
  margin-top: 15px;
  overflow: hidden;
  height: 150px;
  width: 100%;
  background: white;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 20px;
  padding-top: 0px 0px 0px 25px;
  text-transform: capitalize;
}

.carrito-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.carrito-trash-img {
  width: 20px;
  height: 20px;
  padding-left: 0px;
  padding-right: 0px;
  text-align-last: right;
}

.carrito-despacho-img {
  width: 30px;
  height: 30px;
  padding-top: 5px;
  padding-right: 0px;
}

.carrito-checklist-img {
  width: 100%;
  height: 200px;
  margin-bottom: 40px;
}

.card-product-carrito b {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  text-transform: capitalize;
  line-height: 29px;
  display: block;
  color:black;
}

.card-product-carrito p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 2px;
  text-transform: capitalize;
}

.card-product-carrito-infos {
  padding-left: 25px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 95%;
}

.carrito-price {
  color:#E5707E;
  text-align-last: right;
  padding-right: 75px;
}

.minicard-cant {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  border: 2px;
  border-color: #A3DDCB;
}

.minicard a {
  text-align: center;
  font-display: block;
  font-size: 20px;
  font-weight: bold;
  padding-top: 0px;
}

.carrito-price-total {
  color:black;
  text-align-last: right;
  padding-right: 0px;
}
