.footer {
    background-color: rgb(163,221,203);
    height: auto;
    text-decoration: none;
    padding: 0px 10px 20px 0px;
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding-top: 20px;
    margin-top: 80px;
    margin-left: 0px;
    }
    
    .footer i {
    font-size: 29px;
    display: block;
    width: 0.5em;
    }
    
    .footer i:hover {
    color: #E5707E;
    }
    
    .footer a {
    color:white;
    padding: 2px 20px;
    }
    
    .nav_links a{
    display: inline-block;
    padding: 0 60px;
    }
    
    .footer a:hover {
    color: #E5707E;
    }
    