.footer {
  padding: 5px;
  height: 200px;
  background-color: rgb(163,221,203);
  text-decoration: none;
  text-align: left;
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.foot {
  margin-top: 50px;
}

.search_logo{
  margin-top: 50px;
}


.footer a {
  margin-top: 50px;
  padding-right: 80px;
  text-decoration: none;
  color:white;
}

