.navbar-lewagon {
  height: 150px;
  background: #A3DDCB;
  text-decoration: none;
  color: white;
  font-size:16px;
}

.navbar-lewagon a{
  text-decoration: none;
  color:white;
}
.navbar-lewagon .navbar-brand img {
  width: 40px;
}
