.picture_small {
    width: 280px;
    height: 190px;
    margin-bottom: 20px;
    padding-inline-start: auto;
    display: flex;
}   

.picture_small img {
    border-radius: 20px;
    max-width: 280px;
    max-height: 190px;
}