.picture_big {
    width: 550px;
    height:300px;
    border-radius: 20px;
    display: flex;
    padding-bottom: 10px;
}

.picture_big img {
    border-radius: 20px;
    max-width: 540px;
}

@media(max-width: 991px){
    .picture_big img{
        width: 340px;
        max-height: 200px;
    }
    .picture_big{
        width: 540px;}
};

