<div class= "container">
<br>
<h3 class="pb-4"><strong>Categorias</strong></h3>

  <ul>
  <% @categories.each do |category| %>
  <%= link_to category.nombre, category_path(category), class: "btn botones" %>
  <% end %>
  <%= link_to  "Nueva categoria...",
    new_category_path, class: "btn botones" %>
  </ul>

</div>
