<div class= "container">
  <div class = "col-12 col-md-12 col-lg-12 text-center">
<br>
  <h3 class="pb-4"><strong>Actualizar categorias</strong></h3>
  </div>
  <%= render "form", category: @category %>
</div>